<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %} {% include "header.html" %}
<div class="container mx-auto">
  <div class="relative overflow-x-auto">
    <div class="py-4 flex flex-col justify-between items-start">
      <a href="{% url 'dashboard' %}" class="hover:underline">Voltar</a>
      <h1 class="text-lg font-bold text-white">Editar leituras</h1>
      <p class="text-sm text-slate-400">Relatorio id: {{ relatorio.id }}</p>
      </div>
    <form method="post" enctype="multipart/form-data" class="">
      {% csrf_token %}
      <input type="file" name="file" id="file" class="inputfile" />
      <br /><br />
      <button class="button_primary">Upload</button>
    </form>
  </div>
</div>
{% endblock content %}
