<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %} {% include "header.html" %}

<div class="container mx-auto">
  <div class="mt-16">
    <div class="py-4 flex justify-between items-end mb-10">
      <h1 class="md:text-lg font-bold text-white text-3xl">Leituras</h1>
      <a href="{% url 'leituras:add' %}" class="button_primary"
        >Add nova leitura</a
      >
    </div>
    <ol class="relative border-l border-gray-200 dark:border-gray-700">
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
          {% comment %}
          <img
            class="rounded-full shadow-lg"
            src="/docs/images/people/profile-picture-3.jpg"
            alt="Bonnie image"
          />
          {% endcomment %}
        </span>
        <div
          class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600"
        >
          <time
            class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
            >just now</time
          >
          <div
            class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-300"
          >
            Patricia criou uma nova leitura
            <a
              href="#"
              class="mx-2 font-semibold text-blue-600 dark:text-blue-500 hover:underline"
              ><span
                class="bg-gray-100 text-gray-800 text-xs font-normal mr-2 px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300"
              >
                995e2084-b591-4786-8866-9cf51ca9b8be
              </span>
            </a>
            <div class="flex items-center">
              {% comment %} actions {% endcomment %}
              <a href="#" class="text-blue-600 dark:text-blue-500"
                ><span
                  class="bg-gray-100 text-gray-800 text-xs font-normal mr-2 px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300"
                >
                  editar
                </span>
              </a>
              <a href="#" class="text-blue-600 dark:text-blue-500"
                ><span
                  class="bg-gray-100 text-gray-800 text-xs font-normal mr-2 px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300"
                >
                  exlcuir
                </span>
              </a>
            </div>
          </div>
        </div>
        {% comment %} children {% endcomment %}
        <div class="inner mt-4">
          <ol class="relative border-l border-gray-200 dark:border-gray-700">
            {% comment %} event 2 {% endcomment %}
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
              >
                {% comment %}
                <img
                  class="rounded-full shadow-lg"
                  src="/docs/images/people/profile-picture-5.jpg"
                  alt="Thomas Lean image"
                />
                {% endcomment %}
              </span>
              <div
                class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600"
              >
                <div class="items-center justify-between mb-3 sm:flex">
                  <time
                    class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                    >2 hours ago</time
                  >
                  <div
                    class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                  >
                    Thomas Lean commented on
                    <a
                      href="#"
                      class="font-semibold text-gray-900 dark:text-white hover:underline"
                      >Flowbite Pro</a
                    >
                  </div>
                </div>
                <div
                  class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
                >
                  Hi ya'll! I wanted to share a webinar zeroheight is having
                  regarding how to best measure your design system! This is the
                  second session of our new webinar series on #DesignSystems
                  discussions where we'll be speaking about Measurement.
                </div>
              </div>
            </li>
            {% comment %} event 3 {% endcomment %}
            <li class="ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
              >
                {% comment %}
                <img
                  class="rounded-full shadow-lg"
                  src="/docs/images/people/profile-picture-1.jpg"
                  alt="Jese Leos image"
                />
                {% endcomment %}
              </span>
              <div
                class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600"
              >
                <time
                  class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                  >1 day ago</time
                >
                <div
                  class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                >
                  Jese Leos has changed
                  <a
                    href="#"
                    class="font-semibold text-blue-600 dark:text-blue-500 hover:underline"
                    >Pricing page</a
                  >
                  task status to
                  <span class="font-semibold text-gray-900 dark:text-white"
                    >Finished</span
                  >
                </div>
              </div>
            </li>
          </ol>
        </div>
      </li>
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
          {% comment %}
          <img
            class="rounded-full shadow-lg"
            src="/docs/images/people/profile-picture-5.jpg"
            alt="Thomas Lean image"
          />
          {% endcomment %}
        </span>
        <div
          class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
        >
          <div class="items-center justify-between sm:flex">
            <time
              class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
              >2 hours ago</time
            >
            <div
              class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
            >
              Thomas Lean deletou a leitura
              <span class="font-bold">xxxx</span>
            </div>
          </div>
        </div>
      </li>
      <li class="ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
          {% comment %}
          <img
            class="rounded-full shadow-lg"
            src="/docs/images/people/profile-picture-1.jpg"
            alt="Jese Leos image"
          />
          {% endcomment %}
        </span>
        <div
          class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600"
        >
          <time
            class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
            >1 day ago</time
          >
          <div class="text-sm font-normal text-gray-500 lex dark:text-gray-300">
            Jese Leos has changed
            <a
              href="#"
              class="font-semibold text-blue-600 dark:text-blue-500 hover:underline"
              >Pricing page</a
            >
            task status to
            <span class="font-semibold text-gray-900 dark:text-white"
              >Finished</span
            >
          </div>
        </div>
      </li>
    </ol>
    {% comment %}
    <div class="relative sm:rounded-lg">
      <table
        class="w-full shadow-dashboard bg-slate-800 text-sm text-left text-gray-500"
      >
        <thead class="text-xs text-gray-400 dark:text-gray-40">
          <tr>
            <th scope="col" class="px-6 py-3">Nome do arquivo</th>
            <th scope="col" class="px-6 py-3">Data do upload</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>

          <tr>
            {% if folhas %} {% for folha in folhas %}
          </tr>

          <tr class="border border-gray-800 bg-gray-900">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{folha}}
            </th>
            <td class="px-6 py-4">{{folha.created_at}}</td>
            <td class="px-6 py-4"></td>
          </tr>
          {% endfor %} {% else %}

          <tr class="border border-gray-800 bg-gray-900">
            <td colspan="4">
              <div class="flex w-full items-center py-10 justify-center">
                <div class="block text-center">
                  <div class="mb-4">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-14 h-14 mx-auto"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
                      />
                    </svg>
                  </div>

                  <div class="mb-8">
                    <h4 class="text-lg text-slate-200 font-semibold">
                      Nenhuma leitura registrada
                    </h4>
                    <p class="text-sm" style="font-size: 16px">
                      Clique no botão abaixo e adicione uma nova leitura
                    </p>
                  </div>
                  <div class="block">
                    <a
                      style="display: inline"
                      href="{% url 'leituras:add' %}"
                      class="button_primary"
                      >Add nova leitura</a
                    >
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    {% endcomment %}
  </div>
</div>

{% endblock content %}
