<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %} {% include "header.html" %}

<div class="container mx-auto">
  <div class="mt-16">
    <div class="py-4 flex justify-between items-end mb-10">
      <h1 class="md:text-lg font-bold text-white text-3xl">Leituras</h1>
      <a href="{% url 'leituras:add' %}" class="button_primary"
        >Add nova leitura</a
      >
    </div>
    <ol class="relative border-l border-gray-200 dark:border-gray-700 mx-3">
      {% for relatorio in relatorios %}
        {% include "leituras/components/leitura-item.html" with relatorio=relatorio %}
      {% endfor %}
      
      <!-- <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
          {% comment %}
          <img
            class="rounded-full shadow-lg"
            src="/docs/images/people/profile-picture-5.jpg"
            alt="Thomas Lean image"
          />
          {% endcomment %}
        </span>
        <div
          class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
        >
          <div class="items-center justify-between sm:flex">
            <time
              class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
              >2 hours ago</time
            >
            <div
              class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
            >
              Thomas Lean deletou a leitura
              <span class="font-bold">xxxx</span>
            </div>
          </div>
        </div>
      </li> !-->
    </ol>
  </div>
</div>

{% endblock content %}
